/* @import './base.css'; */

body {
  font-weight: normal;
  font-family: Inter, 'Helvetica Neue', Helvetica, 'PingFang SC',
  'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  overflow: hidden;
}

.glassmorphism {
  background-color: rgba(255, 255, 255, 0.6);
  transition: opacity 0.3s, transform 0.3s, z-index 0.2s;
  transform-origin: 200px bottom;
  backdrop-filter: blur(10px);
}

/* 右键菜单 */

.mx-menu-bar.mac,
.mx-context-menu.mac {
  --menu-font-family: Inter, 'Helvetica Neue', Helvetica, 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  --menu-background-color: rgba(255, 255, 255, 0.6);
  --menu-color: #000;
  --mx-menu-disabled-text: #6a6a6a;

  &.dark {
    --menu-background-color: rgba(0, 0, 0, 0.6);
    --menu-color: #fff;
    --mx-menu-disabled-text: #a5a5a5;
  }
  &.disabled {
    color: var(--mx-menu-disabled-text);

    cursor: not-allowed;

    &:hover, &:active {
      background-color: transparent;
    }

    .mx-right-arrow, .mx-checked-mark {
      fill: var(--mx-menu-disabled-text);
    }
    .mx-shortcut {
      background-color: var(--mx-menu-shortcut-backgroud-disabled);
      color: var(--mx-menu-shortcut-text-second);
    }
  }
}

.mx-context-menu {
  font-family: var(--menu-font-family);
  background-color: var(--menu-background-color);
  transition: opacity 0.3s, transform 0.3s, z-index 0.2s;
  transform-origin: 200px bottom;
  backdrop-filter: blur(10px);
  color: var(--menu-color);
  opacity: 0.8;
}

.mx-context-menu-item {
  background-color: transparent;
}

/* Hide or show menu items */
.mx-context-menu-item-display {
  display: block;
}

.mx-context-menu-item-hide {
  display: none;
}

/* 右键菜单 END */


/* 弹幕列表CSS */
.danmaku-container {
    height: 600px;
    width: 800px;
    background: transparent;
    overflow: hidden;
}
.danmaku-list {
  padding: 0;
  margin-left: 1%;
  list-style: none;
  overflow-y: auto;
}
.danmaku-list-item {
    width: 450px;
    display: flex;
    align-items: center;
    height: 50px;
    text-align: left;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
}
.danmaku-source-img {
    margin: 1px;
    height: 24px;
}
.danmaku-sing {
    width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.danmaku-uname {
  width: 180px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 1rem;
}

.danmaku-fans {
  width: 200px;
  margin: 0 auto;
}

.fans-club-img {
  margin-left: 10px;
}

.fans-club-member-img {
  margin-left: 10px;
}

.fans-medal-container {
  margin-left: 10px;
}

.fans-club-container {
  width: fit-content;
  display: flex;
  align-items: center;
  margin-right: 1%;
}

.fans-club-name-container {
  display: flex;
  align-items: center;
  font-size: 12px;
  border-radius: 15px;
  width: fit-content;
  margin-left: 10px;
}

.fans-club-name-bg {
  display: block;
  height: 20px;
}

.fans-club-name {
  color: #fff;
  font-weight: 500;
  width: 100%;
  margin-left: -12%;
}
/* 弹幕列表CSS END */


/* 自定义表头 */

.line-header {
    padding: 10px 0;
    margin-bottom: 20px;
    position: relative;
}

.line-header-title {
    color: #1890ff;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    padding-left: 15px;
    position: relative;
}

.line-header-title::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: #1890ff;
}

/* 自定义表头 END */

/* bilibili粉丝牌 */

.fans-medal-container {
  user-select: none;
  margin-right: 5px;
  margin-left: 6px;
  line-height: 18px;
  font-size: 12px;
  position: relative;
  vertical-align: middle;
  display: inline-block;
}

.fans-medal-guard-level {
  position: relative;
  display: block;
  box-sizing: content-box;
  height: 14px;
  line-height: 14px;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: 2px;
  color: white;
  font-size: 12px;
}

.fans-medal-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  box-sizing: content-box;
  min-width: 12px;
  height: 100%;
  line-height: 14px;
  padding-left: 4px;
  padding-right: 4px;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  color: white;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
}

.fans-medal-guard-img {
  display: block;
  margin-left: -12px;
  margin-right: 2px;
  width: 22px;
  height: 22px;
  background: no-repeat contain;
  background-position: center center;
}

.fans-medal-level {
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  float: left;
  box-sizing: content-box;
  display: block;
  height: 100%;
  width: 16px;
  background: #fff;
  text-align: center;
}

/* bilibili粉丝牌 END */

.platform-status-container {
    display: flex;
    align-items: center;
}
.source-img {
    margin: 1px 1px 1px 10px;
    height: 24px;
}

.b-credential-card-header {
    display: block;
    align-items: center;
}

.qcode-image-container {
    position: relative;
    display: block;
}
.qcode {
    margin: 0 auto;
    display: block;
    width: 240px;
    height: 240px;
}
.qcode-bage {
    width: 240px;
    height: 240px;
    font-size: 36px;
    opacity: 0.6;
    text-align: center;
    color: #000;
    background-color: #fff;
    z-index: 1;
    user-select: none;
    line-height: 240px;
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.css-editor,
.css-editor-preview {
    padding: 1rem;
}
.css-editor-preview .danmaku-container {
    --grid-size: 20px;
    --color-light: #f0f0f0;
    --color-dark: #cccccc;

    background: 
        repeating-conic-gradient(
            var(--color-light) 0% 25%, 
            var(--color-dark) 0% 50%
        );

    background-size: var(--grid-size) var(--grid-size);
    overflow: hidden;
    width: 100%;
}

.about-container {
    position: relative;
    display: block;
}
.about-logo {
    margin: 0 auto;
    display: block;
    width: 200px;
    height: 100px;
}
.about-title {
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 200px;
    height: 20px;
    font-size: x-large;
}
.about-version {
    margin: 0 auto;
    margin-top: 3%;
    display: block;
    text-align: center;
    width: 200px;
    height: 20px;
}
.about-author-container {
    margin: 0 auto;
    margin-top: 3%;
    display: flex;
    justify-content: center;
}

.settings-container {
  height: calc(100vh - 60px);
}

.chat-card {
    height: 100%;
}

.chat-infinite-list {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: auto;
}

.chat-infinite-list-item {
    display: flex;
    margin: 10px;
    height: 50px;
    text-align: left;
    align-items: center;
    justify-content: center;
    background-color: var(--el-color-primary-light-9);
    color: var(--el-color-primary);
}

.chat-tag {
    display: flex;
    width: 90%;
    margin-left: 1%;
    align-items: center;
}

.chat-close {
    width: 1%;
    margin-right: 3%;
    cursor: pointer;
}

.card-header {
    height: 24px;
    display: flex;
}

.card-footer-right {
    float: right;
    display: flex;
}

.inline-form .el-select {
  --el-select-width: 120px;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}